<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>soundz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12A90CD51D3D353200A08BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A90CE91D3D353300A08BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A90CF41D3D353300A08BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
